#alertMsg {
    text-align: center;
    height: 2em;
    font-size: 1.5em; 
}

/* #outerBoardContainer {
    float: right;
    position: relative;
    left: -50%;  
}

#innerBoardContainer {
    position: relative;
    left: 50%; 
} */